@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_round_pro_demobold';
    src: url('../fonts/ceraroundprodemo-bold-webfont.eot');
    src: url('../fonts/ceraroundprodemo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-bold-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-bold-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-bold-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-bold-webfont.svg#cera_round_pro_demobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hanging_lettersregular';
    src: url('../fonts/hanged_letters-webfont.eot');
    src: url('../fonts/hanged_letters-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hanged_letters-webfont.woff2') format('woff2'),
    url('../fonts/hanged_letters-webfont.woff') format('woff'),
    url('../fonts/hanged_letters-webfont.ttf') format('truetype'),
    url('../fonts/hanged_letters-webfont.svg#hanging_lettersregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal {
    max-width: 500px;
    margin: auto;
    border-bottom: solid 10px #46A358;
}

.modal-body {
    width: 300px;
    margin: 52px auto 40px;
}

.modal .title {
    text-align: center;
    margin-bottom: 40px;
}

.modal .title a {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;
}

.modal .title a:last-of-type {
    color: #46a358;
}

.modal .title span {
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 0 11px
}

.modal .subtitle {
    margin-bottom: 14px;
    width: 300px;
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}

form {
    margin-bottom: 16px;
}

input {
    padding: 12px 0 12px 14px;
    border: 1px solid #eaeaea;
    margin-bottom: 16px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
}

form .password {
    position: relative;
}

form input .password img {
    position: absolute;
}

.btn {
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 12px;
}

.btn-green {
    background-color: #46A358;
    color: #ffffff;
}

.btn-gray {
    border-color: lightgrey;
    border-style: solid;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    text-decoration: none;
}

.modal-body .img-btn-gray {
    margin-right: 8px;
}

form a {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

header {
    max-width: 1200px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.login_btn {
    border-radius: 6px;
    background: #46A358;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    height: 35px;
    text-decoration: none;
}

.login_btn img {
    margin-right: 4px;
}

header ul {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 8px;
    list-style: none;
}

header ul li ul {
    position: absolute;
    bottom: -186px;
    left: -56px;
    background: #edf6ee;
    display: none;
}

header .dropdown li {
    display: block;
    text-align: left;
    min-width: 188px;
}

header li {
    min-width: 54px;
    text-align: center;
    position: relative;
}

header li.dropdown-menu:hover ul {
    display: block;
}

.dropdown .dropitem1 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
}

.dropdown .dropitem2 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
}

.dropdown .dropitem3 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
}

.dropdown .dropitem4 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
}

.dropdown .dropitem4 img {
    position: absolute;
    top: 12px;
    right: 17px;
}

.list-top li {
    list-style: none;
}

.list-top a {
    font: 16px 'cera_round_pro_demoregular';
    text-decoration: none;
    font-weight: 400;
    color: #3d3d3d;
}

.list-top .list-top-item:hover {
    font-weight: 700;
    padding-bottom: 36px;
    border-bottom: 3px solid #46a358;
}

.container-two {
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

.container-two .text-content {
    padding-left: 43px;
    margin: auto;
}

.title-welcome {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 12px;
}

.main-title {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}

.text-content span {
    color: #46a358;
}

.paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

.btn-shop-now {
    padding: 10px 26px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #46A358;
    border-radius: 6px;
    background-color: #46A358;
    text-decoration: none;
}

.small_plant {
    position: relative;
    top: -154px;
    left: 54px;
}

.section-two {
    padding-top: 27px;
}

.container-three {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container-three h3 li {
    font: 15px 'cera_round_pro_demoregular';
}

.categories {
    font: 18px 'cera_round_pro_demobold';
    margin-top: 27px;
    margin-bottom: 7px;
    margin-left: 18px;
    font-weight: 700;
    line-height: 89%;
    color: #3d3d3d;
}

.categories ul li {
    padding: 27px 189px 364px 18px;
}

.left-side {
    max-width: 310px;
    background-color: #fbfbfb;
}

.plant-type-menu {
    padding-left: 30px;
    padding-bottom: 364px;
}

.sale-plant {
    margin-left: -30px;
}

.plant-type-menu li a {
    font-weight: 400;
    color: #3d3d3d;
    text-decoration: none;
}

.plant-type-menu li {
    list-style: none;
    font-weight: 400;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 267%;
}

.plant-type-menu li a:hover {
    color: #46a358;
    font-weight: 700;
}

.right-side {
    max-width: 840px;
}

.right-side .top-part ul li {
    max-height: 23px;
    max-width: 90px;
}

.top-part {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.list-two-a {
    font: 15px 'cera_round_pro_demobold';
    font-weight: 400;
    line-height: 107%;
    color: #3d3d3d;
}

.list-two-a:hover {
    border-bottom: solid 2px #46a358;
    font-weight: 700;
    color: #46a358;
}

.top-part ul {
    display: flex;
    justify-content: space-between;
}

.top-part ul li {
    margin-right: 37px;
}

.top-part li a {
    font: 15px 'cera_round_pro_demoregular';
    text-decoration: none;
    font-weight: 400;
    line-height: 107%;
    color: #3d3d3d;
}

.top-part p {
    font: 15px 'cera_round_pro_demoregular';
    text-decoration: none;
    font-weight: 400;
    line-height: 100%;
    color: #3d3d3d;
}

.top-part p {
    color: #3d3d3d;
}

.right_p {
    display: flex;
}

.right_p .p2 {
    padding-left: 8px;
}

.right_p .p_img {
    margin-left: 5px;
}

.middle-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    max-width: 258px;
    border-top: solid 1px transparent;
    position: relative;
}

.product-item:hover {
    border-top: solid 1px #46a358;
}

.product-item .product-item-img {
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 20px;
    padding: 10px;
}

.product-item-img-wrap {
    position: relative;
}

.product-item .icons {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    bottom: 16px;
}

.product-item .product-item-img-wrap:hover .icons {
    display: flex;
    justify-content: center;
}

.product-item .icons .icon {
    padding: 13px;
}

.product-item .icons .icon:hover {
    color: #46A358; /* todo must be stroke/*/
}

.product-item .sale {
    background-color: #46A358;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 7px 8px;
    position: absolute;
    left: 0;
    top: 14px;
}


.middle-part article h4 {
    font: 16px 'cera_round_pro_demoregular';
    font-weight: 400;
    line-height: 100%;
    color: #3d3d3d;
    margin-top: 44px;
    text-decoration: none;
    margin-bottom: 6px;
}

.middle-part p {
    font: 18px 'cera_round_pro_demobold';
    font-weight: 700;
    line-height: 89%;
    color: #46a358;
    margin-top: 7px;
}

.middle-part article {
    margin-bottom: 70px;
}

.page-numbers ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.page-numbers a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    font: 18px 'cera_round_pro_demoregular';
    font-weight: 300;
    line-height: 89%;
    color: #3d3d3d;
}

.page-numbers ul li {
    list-style: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
}

.page-numbers li:hover {
    background: #46a358;
    font-weight: 700;
}

.page-numbers li a:hover {
    background: #46a358;
    font-weight: 700;
    font: 18px 'cera_round_pro_demobold';
    line-height: 89%;
    color: #fff;
}

.round-arrow:hover svg path {
    font-weight: 700;
    stroke: #fff;
}

.container-four {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.summer_collection {
    margin-top: 69px;
    margin-bottom: 138px;
}

.summer_collection .container-four {
    display: flex;
    justify-content: space-between;
}

.summer_collection .container-four article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    max-width: 586px;
}

.summer_collection article h3 {
    font: 18px 'cera_round_pro_demobold';
    font-weight: 900;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    padding-bottom: 9px;
}

.summer_collection article p {
    font: 14px 'cera_round_pro_demoregular';
    font-weight: 400;
    line-height: 171%;
    text-align: right;
    color: #727272;
    padding-bottom: 25px;
}

.summer_collection article a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font: 14px 'cera_round_pro_demoregular';
    font-weight: 500;
    line-height: 143%;
    color: #fff;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
}

.container_five {
    max-width: 1200px;
    margin: auto;
}

.blog {
    text-align: center;
}

.blog h3 {
    font: 30px 'cera_round_pro_demobold';
    font-weight: 700;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.blog p {
    font: 14px 'cera_round_pro_demoregular';
    font-weight: 400;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}

